.header {
    border-bottom: 1px solid var(--header-border);
}

.header__logo {
    margin-right: 93px;

}

.header__link {
    padding-top: 32px;
    padding-bottom: 32px;
}

.header__nav {
    margin-top: 0;
    margin-bottom: 0;
}

.header__info {
    display: flex;
        gap: 50px;
        padding: 0;
    margin: 0;
    margin-left: auto;
   
}